<div class="row">
	<% @products.each do |t| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<%= link_to image_tag(t.product_cover.url(:thumb), alt: t.name), "#" %>
				<div class="caption">
					<h4><strong><%= link_to t.name, "#", class: "title" %></strong></h4>
					<p><strong>￥<%= t.price %></strong><span></span></p>
					<!-- <p><%= link_to("加入购物车",  shopping_carts_path(product_id: t.id),  {method: :post , class: "btn btn-xs btn-danger add-to-cart-btn"}) %></p>
 -->
					<p><%= link_to("加入购物车",  shopping_carts_path,  { class: "btn btn-xs btn-danger add-to-cart-btn",'data-product-id': t.id}) %></p>

				</div>
			</div>
		</div>

	<% end %>
</div>




<script>
(function() {
  // 购物车
  $('.add-to-cart-btn').on('click', function() {
  	var $this = $(this);
        $.ajax({
      url: '/shopping_carts',
      method: 'post',
      data: { product_id: $this.data('product-id') },

      success: function(data) {
if ($('#shopping_cart_modal').length > 0) {
          $('#shopping_cart_modal').remove();
        }
        $('body').append(data);
        $('#shopping_cart_modal').modal();
      },

    })

        return false;
  })

})()

</script>


	<div class="page">
		<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
	</div>



