<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
             
            </button>
            <a class="navbar-brand" href="#">MYapp</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to '首页', root_path %></li>
              <li><%= link_to "购物车", shopping_carts_path %></li>
              <li>
                <%= form_tag(search_products_path, method: "get") do %>
                  <%= text_field_tag :name,"", placeholder: "请输入要搜索的商品" %>
                  <%= submit_tag "搜索" %>
                <% end %>
              </li>
       
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "我的订单", orders_path %></li>
              <li><%= link_to "我的地址", addresses_path %></li>
              <% if logged_in? %>
                <li><%= link_to "#{current_user.email}" %></li>
                <li><%= link_to '退出', sessions_destroy_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '登录', new_session_path %></li>
                <li><%= link_to '注册', new_user_path %></li>
                 
              <% end %>

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>