<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <div class="container">
      <%= render "layouts/menv" %>  
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div> <!-- /container -->

     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
