<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

   
  </head>

  <body>
  <%= render "layouts/menv" %>  
    <div class="container">
      
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>

    </div> <!-- /container -->
    
      <footer class="footer">
        <div class="container">
          <p class="text-muted">练习作品之我的店MYAPP@LynnShen</p>
        </div>
      </footer>

     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
